.menu {
    display: block;
    background-color: #c51137;
    margin: -10px;
    overflow: hidden;
    position: relative;
}

.menu input {
    display: block;
    background-color: inherit;
    border: none;
    color: white;
    float: left;
    font-family: 'Bitter', sans-serif;
    font-size: large;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    -moz-transition: 0.2s ease-in-out 0s;
    -o-transition: 0.2s ease-in-out 0s;
    -webkit-transition: 0.2s ease-in-out 0s;
}

.menu input:focus {
    outline: none;
}

.menu input:first-child {
    margin-left: 2%;
}

.menu input:last-child {
    float: right;
    margin-right: 2%;
}

.menu input:visited {
    color: white;
}

.menu input:hover {
    border-bottom: 3px solid;
    border-collapse: separate;
    padding-bottom: 13px;
}