.navbar-expand-lg {
    background-color: #c51137;
    color: #fff;
}

.nav-link {
    color: #fff;
    font-size: large;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; /* Changes regular toggle color */
}
.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #fff; /* Changes toggle color on hover */
}