.loader {
    border: 16px solid #c51137;
    border-top: 16px solid #f8f9fa;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    display: flex;
    align-items: center;
}

.outercontainer {
    width: 100%;
}

.thead {
    background-color: #c51137;
    color: #fff;
}

.table {
    box-shadow: -1px 3px 5px #8888888c;
    margin: 0 auto;
    margin-top: 2em;
    max-width: 60%;
}

.table td, .table th {
    width: inherit;
}

*:focus *:active {
    outline: none;
}
/*
.modal-content {
    overflow: auto;
}

.modal-lg {
    max-width: 60%;
}
*/

.btn {
    padding: .12rem .5rem .02rem .5rem;
}

.btn-primary {
    color: #c51137;
    background-color: transparent;
    border: none;
    float: right;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c51137;
    border-color: #c51137;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #c51137;
    background-color: #fff;
    border-color: #fff;
}

.add {
    color: #fff;
    background-color: #c51137;
    border-color: #fff;
    margin-right: 2%;
    margin-left: 5%;
}

.add:hover {
    color: #c51137;
    background-color: #fff;
    border-color: #fff;
}

select {
    border: none;
    border-bottom: 1px #c51137;
    background-color: transparent;
    outline: none;
}

.modal-dialog { /* Width */
    max-width: 1000px;
    width: auto !important;
    margin: 0px auto;
    margin-top: 10%;
}

.modal.in{
    text-align: center;
}