body {
    display: flex;
    align-items: center;
}

.thead {
    background-color: #c51137;
    color: #fff;
}

.container {
    padding-top: 2em;
}

.table {
    box-shadow: -1px 3px 5px #8888888c;
}

.modal-content {
    overflow: auto;
}

.btn {
    padding: .12rem .5rem .02rem .5rem;
}

.btn-primary {
    color: #c51137;
    background-color: transparent;
    border: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c51137;
    border-color: #c51137;
}

.add {
    color: #fff;
    background-color: #c51137;
    border-color: #fff;
    margin-right: 2%;
    margin-left: 5%;
}

.add:hover {
    color: #c51137;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #c51137;
    background-color: #fff;
    border-color: #fff;
}

.form-control-plaintext {
    width: auto;
    padding: 0;
}