body {
    display: flex;
    align-items: center;
}

.thead {
    background-color: #c51137;
    color: #fff;
}

.container {
    padding-top: 2em;
}

.table {
    box-shadow: -1px 3px 5px #8888888c;
}

.table th:last-child {
    width: 5%;
}
/*
.table-hover tbody tr:hover {
    background-color: #3c4854;
    color: #fff;
}*/

.btn {
    padding: .12rem .5rem .02rem .5rem;
}

.btn-primary {
    color: #fff;
    background-color: #c51137;
    border-color: #fff;
}

.btn-primary:hover {
    color: #c51137;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(123,123,123,.5)
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #c51137;
    background-color: #fff;
    border-color: #fff;
}

.form-control-plaintext {
    width: auto;
    padding: 0;
}

.slet {
    color: #c51137;
    background-color: #ffffff;
    border-color: #c51137;
}

.slet:hover {
    color: #fff;
    background-color: #c51137;
    border-color: #fff;
}

.vis {
    color: #c51137;
    background-color: transparent;
}